picture {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100px;
}

picture.is-small {
    width: 50px;
}


img {
    border-radius: 50%;
    box-shadow: 0 0 15px #999;
    width: 100%;
    cursor: pointer;
}

img.disabled {
    opacity: 0.3;
}